body {
    background: url('./images/circles-light.png');
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #ffffff;
    height: 100px;
    border-bottom: 2px solid #cccccc;
}

.header {
    position: fixed;
    z-index: 100;
    left: 120px;
    width: 1030px;
    height: 100px;

}

.navlinks {
    float: right;
    padding-top: 45px;
}

.name {
    float: left;
    width: 350px;
    height: 65px;
    margin: 0;
    padding-top: 35px;
    background-color: #4aaaa5;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a.nav-link:link
{
   color: #777777;
   text-decoration: none;
}

a.nav-link:visited
{
   color: #777777;
   text-decoration: none;
}
a.nav-link:hover
{
    color: white;
    text-shadow: 0 0 20px #4aaaa5, 0 0 5px rgb(8, 80, 109);
    text-decoration: none;
}
a.nav-link:active
{
   color: #777777;
   text-decoration: none;
}

.aboutMe, .connect, .contact, .portfolio {
    color: #4aaaa5;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

hr {
    width: 100%;
    margin-bottom: 20px;
}

.portPhoto {
    float: left;
    padding-right: 15px;
    width: 30%;
    height: 40%;
}

p, hr, a, form, input, textarea {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 20px;
}

.linkPhoto {
    float: left;
    width: 20%;
    height: 30%;
    padding-right: 20px;
}

.mainSectionContent {

    float: left;
    background-color: #ffffff;
    padding: 15px 30px 30px 30px;
    width: 640px;
}

.mainSectionContentPortfolio {

    float: left;
    background-color: #ffffff;
    padding: 15px 30px 30px 30px;
    width: 640px;
    height: 770px;
}

.sidebarContent {
    float: right;
    margin: 0px 10px 0px 20px;
    padding: 15px 10px 30px 10px;
    text-align: center;
    background-color: #ffffff;
    width: 270px;
}

.links {
    padding-left: 45px;
    width: 95%;
}

#stackLink {
    width: 18%;
}

.entireContent {
    width: 1030px;
    position: absolute;
    left: 120px;
    top: 140px;
}

.footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 30px;
    clear: both;
    background-color: #666666;
    color: white;
    font-size: 12px;
    text-align: center;
    border-top: 9px solid #4aaaa5;
    padding: 35px 0 19px 0;
}

textarea {
    height: 200px;
    width: 100%;
    resize: vertical;
}

input {
    width: 100%;
}

button {
    background-color: #4aaaa5;
    margin-top: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: lightseagreen;
    color: white;
}

input, textarea {
    padding: 10px 0 10px 8px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.clearfixAbout::after {
    width: 100vw;
    height: 75vh;
    content: "";
    clear: both;
    display: block;
}

.clearfixPortfolio::after {
    width: 100vw;
    height: 140vh;
    content: "";
    clear: both;
    display: block;
}

.clearfixContact::after {
    width: 100vw;
    height: 100vh;
    content: "";
    clear: both;
    display: block;
}

.creationsRight1, .overLapTextRight1 {
    position: absolute;
    left: 360px;
}

.creationsRight2, .overLapTextRight2 {
    position: absolute;
    top: 310px;
    left: 360px;
}

.creationsLeft1, .overLapTextLeft1 {
    position: absolute;
}

.creationsLeft2, .overLapTextLeft2 {
    position: absolute;
    top: 310px;
}

.creationsLeft3, .overLapTextLeft3 {
    position: absolute;
    top: 560px;
}

.creationsRight1, .creationsRight2, .creationsRight3, .creationsLeft1,  .creationsLeft2, .creationsLeft3 {
    z-index: 1;
}

.overLapTextRight1, .overLapTextRight2, .overLapTextRight3, .overLapTextLeft1, .overLapTextLeft2, .overLapTextLeft3 {
    width: 280px;
    height: 40px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    margin-top: 135px;
    z-index: 2;
}

/* Media Queries */


@media screen and (max-width: 980px) {
    /* .wrapper {
        width: 680px;
        margin-top: 35px;
        margin-right: 330px;
        
    } */

    .wrapper {
        position: relative;
        width: 100%;
        margin-top: 35px;
        margin-right: 330px;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        
    }

    .linkPhoto {
        align-content: center;
        width: 20%;
        height: 30%;
    }
    
    nav {
        width: 100%;
    }
    
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        width: 100%
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        width: 100%
    }
}

